$lightRed :  rgb(202, 35, 35);

*{
    box-sizing: border-box;
    font-family : "Arial" , "Times New Roman" , "Times, serif ";
    user-select: none;
}
html,body{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    width: 100%;
    height: 100vh;
}
.player{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 100vh;
}
.player h2{
    color: rgb(65, 65, 65);
    display: inline;
    font-size: 70px;
    font-weight: lighter;
    margin-right: 10px;
}

.current-score{
    
    width: 220px;
    height:120px;
    background-color:$lightRed;
    border: 1px solid rgb(107, 3, 3);
    margin-top: 200px;
    p{
        margin-top : 10px;
    }
}

.global-score{
    font-size: 80px;
    color : $lightRed;
    position : absolute;
    top: 75px;
}

.round-score{
    font-size: 40px;
    color: white;
}

.info {
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 250px;
    height:100vh;
    left: 50%;
    color: rgb(75, 75, 75);
    transform: translate(-50% , 0);
    div {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    div img {
        margin-right: 15px;
    }    
}

#dice {
    width: 150px;
    height:150px;
    box-shadow :5px 5px 15px 5px rgba(0,0,0,0.45);
}
.roll-hold {
    display: flex;
    flex-direction: column;
}
    
#mode-select{
    display: none;
    color:wheat;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50% , 50%);
    p{
        cursor: pointer;
        padding: 5px;
        border: solid 1px black;
        border-radius: 5%;
        background-color: rgb(83, 83, 83);  
    } 
}
